<main role="main" class="container">
    <h1 class="text-primary" style="text-align: center; font-weight: bolder;">*ngFor</h1>
    <hr>
    <div *ngFor="let proyecto of misProyectos" class="starter-template">

        <h1>{{proyecto.name}}</h1>

        <div class="flex-container">
          <img src={{proyecto.urlImagen}} class="img-fluid ngImg" alt="Responsive image">
          <div class="descripcion-container">
            <h3>Descripcion:  </h3>
            <p>{{proyecto.descripcion}}</p>
          </div>
        </div>
        <hr>

    </div>

</main>
