<nav *ngIf="afAuth.user | async as user" class="navbar bg-primary navbar-expand barra">
    <a class="navbar-brand" href="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav " *ngFor="let item of ruta">
            <a class="nav-link" [routerLinkActive]="['active']" routerLink={{item}}>{{item}}</a>

        </div>
    </div>
    <div class="" >
      <button type="button" name="button" (click)="logout()" class="btn btn-danger">Logout</button>
    </div>

</nav>
