.grd {
  padding: 40px;
}


.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

input {
  margin-left: 20px;
}

.descripcion-container{
  margin-left: 100px;
  padding: 50px;
}
.ngImg {
  width: 250px;
}
.flex-buttons {
  display: flex;
  width: 200px;
  align-items: center;
}
.flex-div{
  display: flex;
}
