<div class="grd">
    <div>
        <div>
            <h1> Deseos </h1>

            <form (ngSubmit)="newDeseo(newDeseoForm.value)" [formGroup]="newDeseoForm" class="flex-container">
                <input type="hidden" formControlName="id">

                <div class="grupoF">
                  <label for="nombre" class="mpadr">Nombre:</label>
                  <input type="text" class="mpadr right input"  formControlName="nombre" placeholder="Titulo " required>
                  </div>

                <div class="grupoF">
                  <label for="url_img" class="mpadr">Imagen:</label>
                  <input type="url" class="mpadr right input" formControlName="url" placeholder="Imagen " required>
                </div>

                <div class="grupoF">
                  <label for="desc" class="mpadr">Descripcion:</label>
                  <input type="text" class="mpadr right input" formControlName="desc" placeholder="Descripcion" required>
                </div>

                <input type="submit" class="btn btn-primary mpadr submit" role="button" aria-pressed="true" [disabled]="!newDeseoForm.valid" value="Guardar">
            </form>
        </div>
    </div>
</div>

<main role="main" class="container">
    <h1>Lista de Deseos</h1>
    <hr>
    <div *ngFor="let deseo of deseos" class="starter-template">

        <h1>{{deseo.data.nombre}}</h1>

        <div class="flex-container">
          <img src="{{deseo.data.url}}" class="img-fluid ngImg" alt="Responsive image">
          <div class="descripcion-container">
            <h3>Descripcion:  </h3>
            <p>{{deseo.data.descripcion}}</p>
            <div class="flex-buttons" >
              <button class="btn btn-block btn-primary" role="button" (click)="editDeseo(deseo.id,deseo.data.nombre,deseo.data.url)">Editar</button>
              <button class="btn btn-block btn-primary" role="button" (click)="deleteDeseo(deseo.id)">Eliminar</button>
            </div>

          </div>
        </div>
        <hr>

    </div>

</main>
