.grd {
  padding: 50px;
}
.mpadr{
  padding-right: 10px;
  margin-right: 10px;
}
.grupoF {
  width: 20%;
}
.right {
  float: right;
}
.input {
  padding-left: 20px;
  padding-right: 20px;
}

.submit {
  margin-top: 20px;

}
