<main role="main" class="container">

    <div class="starter-template" *ngIf="afAuth.user | async as user; else showLogin">
        <div>
            <h1 class="text-primary" style="text-align: center; font-weight: bolder;">*ngIf</h1>
            <hr>
            <div *ngIf="mostrar" class="card text-dark">
                <div class="card-body">
                    <h5 class="card-title"> {{ frase.autor }}</h5>
                    <p class="card-text">{{frase.mensaje}}</p>

                </div>
                <hr>
            </div>
            <button (click)="mostrar = !mostrar" class="btn btn-outline-primary">Mostrar/Ocultar</button>
        </div>
    </div>



    <ng-template #showLogin class="login">
      <div class="flex-container ">
        <p>Por Favor Iniciar Sesion para poder accesar a la Pagina.</p>
        <button class="btn btn-primary"(click)="login()">Login with Google</button>
      </div>
    </ng-template>


</main>
